*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url(Pictures/menuebackg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(90%); 
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    background-position: center;
    background-size: cover;
    height: 9vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #6c533f;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 52px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #e9dddd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #d5bfae;
}

.search{
    width: 230px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 150px;
    height: 40px;
    background: transparent;
    border: 1px solid #5f1f12;
    margin-top: 13px;
    color: #b10b0b;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 80px;
    height: 40px;
    background: #a53f08;
    border: 2px solid #c7410c;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
    text-align: center;

}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 30px;
    line-height: 30px;
}

.content h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}



.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #5f2211;
    font-size: 100px
}
::placeholder{
    color: #f1e5e5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu_section {
    width: 100%;
    float: left;
}

.menu_taital {
    width: 100;
    float: center;
    font-size: 40px;
    color: #f0e7e7;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding-bottom: 0px;
}

.menu_section_2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}


.types_text {
    width: 100%;
    float: left;
    font-size: 22px;
    color: #fafae9;
    text-align: center;
    font-weight: bold;
}

.looking_text {
    width: 100%;
    float: center;
    font-size: 14px;
    color: #fefefd;
    text-align: center;
    margin: 0px;
}

.read_bt {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    display: flex;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fefefd;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #fefefd;
    text-transform: uppercase;
    padding: 8px;
}

.read_bt a:hover {
    color: #fefefd;
    border: 1px solid #fefefd;
}
